fastapi==0.110.0
numpy==1.26.4
opencv-python-headless
passlib==1.7.4
Pillow==10.2.0
PyJWT==2.8.0
python-dotenv==1.0.1
sqlmodel==0.0.16
starlette==0.36.3
ultralytics==8.1.9
torch==2.2.1
torchvision==0.17.1
python-multipart
uvicorn